<div class="container">
  <div class="ml-1 pb-3">
    <h1>My Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="ml-1 mr-1">
        <div class="pb-1">
          <div id="like">
            <%= render'pages/ajax_like' %>
          </div>
          <div class="text-muted">
            応援が励みになります！
          </div>
        </div>
        <%= image_tag("joey.jpg", class:"img-fluid") %>
      </div>
    </div>
    <div class="col-sm-8">
      <h3><strong>Joey Yuasa (26)</strong></h3>
      <h4>経歴</h4>
      <p>早稲田大学文化構想学部同学科の文芸ジャーナリズム論系を卒業後、新卒でNTTデータシステム技術に入社し、金融基幹系システムの更改チームに二年間所属した。</p>
      <p>その後、IBMハッカソンを通じて「やっぱり開発がやりたい！」と思い立ち転職を決意。現在鋭意転職活動中の身である。</p>
      <h4>趣味</h4>
      <p>文芸サークルの幹事長を務めていたこともあり、読書や映画鑑賞は今でも大好き。</p>
      <p>余暇はゲームをしたり、友だちと曲を作ったりしている。</p>
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          スキルはこちらから確認
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <h5>実務経験</h5>
          <p>・UNIX 1年以上のAIXでの業務経験あり。HP-UX、Solarisでの業務経験</p>
          <p>・Linux Linuxでの業務経験あり</p>
          <p>・bash 業務での作成／設計経験あり</p>
          <p>・VBA 業務での作成／設計経験あり</p>
          <p>・PowerShell 業務での作成／設計経験あり</p>
          <h5>独学による経験</h5>
          <p>・Git／GitHub Udemyでの講習受講修了。使用経験あり</p>
          <p>・IBMCloud ハッカソンに伴う1か月間の使用経験あり</p>
          <p>・Kotlin 3か月の使用経験あり</p>
          <p>・AndroidStudioを用いたアプリ開発経験あり</p>
          <p>・Python　業務効率化ツールの作成やハッカソンでの使用経験あり</p>
          <p>・ruby、ruby on rails、bootstrap、herokuにてこのページは作成しています。</p>
        </div>
      </div>
    </div>
  </div>
</div>
